{% extends "layouts/master.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>{{ thread.title }}</h1>
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <p>{{ thread.content }} <span class="badge">{{ thread.getTotalVotes() }} votes</span></p>
                    <footer><cite title="Author">{{ thread.author.name }}</cite></footer>
                </blockquote>
            </div>
        </div>
        
        {% if vote_registered is defined and vote_registered == true %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Thank you {{ app.get('AuthenticatedUser').name }}! 
                        Your vote has been registered.
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% if validation_messages is defined %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for message in validation_messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elseif error_message is defined %}
                    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                {% endif %}
                
                <div class="alert alert-info" role="alert">
                    {% if thread.posts.count > 0 %}
                        There are <strong>{{ thread.posts.count }}</strong> comments.

                    {% else %}
                        There are <strong>0</strong> comments.
                    {% endif %}
                </div>
            </div>
        </div>

        {% if auth.isUserloggedIn() == true %}
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-primary" href="/posts/new?thread={{ thread.getId() }}" role="button">Add a Comment</a>
                        </div>

                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default" href="/threads/{{ thread.getId() }}/vote?like=1" role="button">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-default" href="/threads/{{ thread.getId() }}/vote?like=0" role="button">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if thread.posts.count > 0 %}
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Comments</h3>
                </div>

                <ul class="list-group">
                    {% for post in thread.posts %}
                        <li class="list-group-item">
                            <p>{{ post.content }}</p>
                            <cite>Comment by: {{ post.author.name }}</cite>
                            
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-default" href="/posts/{{ post.getId() }}/vote?like=1" role="button">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    </a>
                                    <a class="btn btn-default" href="/posts/{{ post.getId() }}/vote?like=0" role="button">
                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                    </a>
                                </div>
                                
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-default">
                                        <span class="badge">{{ post.getTotalVotes() }} votes</span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
